.carousel {
  /* width:50%; */
  /* height:80px;
  position: relative;
  left: -30%;
  margin-top: 10px; */
}
.whole{
  /* background-color: blue; */
}
.detailshow{
  /* position: relative;
  left: 80%;
  border-style: solid;
  border-width: 10px;
  border-color: red; */
  /* top: 5%; */
}
